{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}

<body>
    {{ include('_partials/header.html.twig') }}

    {% block nav %}
    {{ include('_partials/navbar.html.twig') }}
    {% endblock %}

    <style>
    body {
      background-image: url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?auto=format&fit=crop&q=80&w=1467&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>

    <div class="container mt-5">
      <header class="text-left">
        <h1 class="titre">À propos</h1>
      </header>

      <main class="mt-4">
        <div class="row">
          <div class="col-12">
            <p class="texte">
              Loc'Event est une entreprise de location de salle qui propose une large gamme d'espaces pour tous les événements, des réunions d'affaires aux mariages. Nous avons des salles de toutes tailles, dans différents styles et emplacements, pour répondre à tous vos besoins.
            </p>
            <p class="texte">
              Que vous organisiez une petite réunion d'entreprise, une grande conférence, un mariage élégant ou tout autre événement spécial, nos espaces sont conçus pour s'adapter à vos besoins. Nous sommes fiers de vous offrir un choix varié de salles de réunion, de banquet, de réception et de spectacle pour que votre événement soit une réussite.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <h2 class="mt-4 ml-3">Nos Salles</h2>
            <ul class="liste">
              <li>Salles de réunion</li>
              <li>Salles de banquet</li>
              <li>Salles de réception</li>
              <li>Salles de spectacle</li>
            </ul>
          </div>

          <div class="col-12 col-md-6">
            <h2 class="mt-4 mr-5">Équipements</h2>
            <ul class="liste">
              <li>Matériel de présentation</li>
              <li>Wi-Fi</li>
              <li>Sonorisation</li>
              <li>Climatisation</li>
              <li>Parking</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="texte">
              Pour garantir le succès de votre événement, nous mettons à votre disposition un ensemble complet d'équipements et de services. Notre équipe professionnelle est là pour vous assister à chaque étape du processus de planification, de la réservation de la salle à la coordination de la logistique.
            </p>
            <p class="texte">
              En plus de nos espaces exceptionnels, nous vous proposons également un service de restauration et de traiteur de qualité. Que ce soit pour un déjeuner d'affaires, un dîner de mariage ou un cocktail, notre équipe culinaire saura ravir vos invités.
            </p>
            <p class="texte">
              Contactez-nous dès aujourd'hui pour en savoir plus sur nos salles, nos équipements et nos services. Nous sommes là pour faire de votre événement un moment mémorable.
            </p>
            <a href="{{ path('app_contact') }}">Contact</a>
          </div>
        </div>
      </main>

      <footer class="mt-5 text-center">
        <p class="liste">[Copyright] [2023]</p>
      </footer>
    </div>
  </body>

{% endblock %}
