{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

  
    {{ include('_partials/header.html.twig') }}
    {{ include('_partials/navbar.html.twig') }}


<style>
    body {
      background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-repeat: no-repeat;
      background-size: cover; 
      }

</style>

<div class="container ml-1 mt-3">

    <h2>Conditions d'Utilisation des Informations Personnelles</h1>
    <br>

    <p>Merci de prendre le temps de lire et de comprendre nos conditions d'utilisation des informations personnelles. Chez Loc'Event, 
    <br> nous accordons une grande importance à la confidentialité et à la sécurité de vos données personnelles.</p>

    <h5>Collecte d'Informations Personnelles</h5>

    <p>Nous collectons des informations personnelles lorsque vous interagissez avec notre site web, nos services, nos applications ou nos communications.
    <br> Cela peut inclure des informations telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc. 
    <br>Nous collectons ces informations de manière légale et transparente.</p>

    <h5>Utilisation des Informations Personnelles</h5>

    <p>Nous utilisons vos informations personnelles pour fournir, améliorer et personnaliser nos services. Cela peut inclure la personnalisation de votre expérience utilisateur,
    <br> l'envoi d'e-mails de confirmation, l'assistance clientèle, la communication marketing, etc. 
    <br>Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement explicite.</p>

    <h5>Protection des Informations Personnelles</h5>

    <p>Nous prenons des mesures pour protéger vos informations personnelles et garantir leur sécurité. Cela inclut la mise en place de mesures de sécurité
    <br> techniques, administratives et physiques pour empêcher tout accès non autorisé, la perte, la divulgation ou la modification de vos informations.</p>

    <h5>Vos Choix et Vos Droits</h5>

    <p>Vous avez le droit de consulter, de corriger, de mettre à jour ou de supprimer vos informations personnelles à tout moment.
    <br> Vous pouvez également choisir de ne pas recevoir nos communications marketing en désélectionnant cette option dans votre compte.</p>

    <h5>Modification de nos Conditions d'Utilisation des Informations Personnelles</h5>

    <p>Nous nous réservons le droit de modifier nos conditions d'utilisation des informations personnelles à tout moment. 
    <br>Toutes les modifications seront communiquées sur notre site web.</p>

    <h5>Contact</h5>

    <p>Si vous avez des questions ou des préoccupations concernant nos conditions d'utilisation des informations personnelles, 
    <br>veuillez nous contacter à l'adresse suivante : admin@locevent.com</p>

    <p>Merci de faire confiance à Loc'Event pour la protection de vos informations personnelles. Votre vie privée est importante pour nous.</p>

</div>


    {% endblock %}